* {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {    
    font-size: 28px;
    font-weight: 100;
}

.footer-text {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #d6d6d6;
}

#page {
    background-color: #dbd0ad;
    padding: 2%;
    border: 3px solid black;
    width: 900px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#recipe-text {
    width: 700px;
}

/* button.return {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid black;
    
}

button.return:hover {
    transition-duration: 0.2s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

/* button.recipe-listing { */
button {
    background-color: transparent;
    text-decoration: underline;
    border: none;
}

/* button.recipe-listing:hover { */
button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}