* {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {    
    font-size: 28px;
    font-weight: 100;
}

.footer-text {
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #d6d6d6;
}

#page {
    background-color: #dbd0ad;
    padding: 2%;
    border-color: black;
    border-style: solid;
    width: 900px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#recipe-text {
    width: 700px;
}