* {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {    
    font-size: 28px;
    font-weight: 100;
}

.footer-text {
    font-size: 11px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}